<html></html>
<body>
    <div class="login">
       <h1>Nights in care predictor</h1>

       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Nights in care predictorn</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" placeholder="Gender" required>
                <option class="placeholder" selected disabled value="">Select</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Age</label>
          <input class="form-control" type="number" name="age"
              placeholder="Enter" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">substanceabuse</label>
            <select class="form-control" name="substanceabuse" placeholder="Enter your substanceabuse" required>
                <option class="placeholder" selected disabled value="">Select</option>
                <option value="group A">
                    Y
                </option>
                <option value="group B">
                    N
                </option>
            </select>
        </div>
        <div class="mb-3">
          <label class="form-label">veteran</label>
          <select class="form-control" name="veteran" placeholder="Enter your veteran" required>
              <option class="placeholder" selected disabled value="">Select</option>
              <option value="Y">
                  Y
              </option>
              <option value="N">
                  N
              </option>
          </select>
        </div>
        <div class="mb-3">
        <label class="form-label">probation</label>
        <select class="form-control" name="probabtion" placeholder="Enter your probabtion" required>
            <option class="placeholder" selected disabled value="">Select</option>
            <option value="Y">
                Y
            </option>
            <option value="N">
                N
            </option>
        </select>
        </div>
        <div class="mb-3">
          <label class="form-label">completed</label>
          <select class="form-control" name="completed" placeholder="Enter your completed" required>
              <option class="placeholder" selected disabled value="">Select completed</option>
              <option value="Y">
                  Y
              </option>
              <option value="N">
                  N
              </option>
          </select>
          </div>
        <div class="mb-3">
            <label class="form-label">income</label>
            <input class="form-control" type="number" name="income"
                placeholder="Enter" min='0' max='100000' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Nights in Care" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>
